*{
    margin:0;
    padding: 0;
}
body{
    background-color: #79cfe0;
}
.container{
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fdfdfd;
    width: 80vw;
    height: auto;
    padding-top: 20px;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 1px 3px 5px 5px grey; 
}
.container .navbar{
    margin: 0 auto;
    width: 80%;
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
}
.container .navbar{
    margin: 0 auto;
    width: 80%;
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;


}
.container .navbar .logo h1{
    font-weight: 1000;
    font-style: oblique;
    user-select: none;

}
.container .navbar .middle_nav li{
    font-size: large;
    font-weight: bold;
}
.container .navbar .middle_nav li:hover{
    background-color: #f5f5f5 ;
}
.container .navbar .logo,.nav_total{
    margin-left: 10px;
}
/* special_offer */
.container .navbar .view_all a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.container .navbar .middle_nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.container .navbar .middle_nav li{
    margin-left: 20px;
}
.container .navbar .last_nav{
    list-style: none;
    display: flex;
    flex-direction: row; 
}
.container .navbar .last_nav li{
    margin-left: 20px;
}
.slider_img_middle{
    margin: 0 auto;
    padding: 20px;
}
.container_card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_card .card{
    margin-left: 15px;
}

/* stars */
.stars{
    display: flex;
    flex-direction: row;
}
.stars img{
    width: 20px;
    height: auto;
}
/* cat_images */
.cat_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cat_images .cat_img{
    margin-left: 20px;
    
    
}
.cat_images .cat_img img{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    position: relative;
}
.container_cat{
    position: relative;
    text-align: center;
}
.overlay_cat{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}
.overlay_cat h2{
    color: #fdfdfd;
    text-shadow: 2px 2px 4px #000000;
    font-size:25px;
    font-weight: 800;
}
.overlay_cat small{
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 500;
    color: #fdfdfd;
}
/* end of container_cat */

.cont_pdes{
    position: relative;

}
.cont_pdes .pdes_img_hk{
    position: relative;

}
.cont_pdes .pdes_img_hk img{
    position: relative;
    width: 75%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.cont_pdes .text_image{
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-75%, -25%);

}
.cont_pdes .text_image h2{
    color: #fdfdfd;
    text-shadow: 2px 2px 4px #000000;
    font-size:25px;
    font-weight: 800;
}
.cont_pdes .text_image span{
    color: #fdfdfd;
}

/* Second des */
.sec_pdes_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.cont_pdes .pdes_img1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cont_pdes .pdes_img1 img{
    width: 420px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.cont_pdes .text_image1{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35%;
    top: 70%;
   
}
.cont_pdes .text_image2{
    position: absolute;
    top: 70%;
    left: 55%;
    
}
.cont_pdes .text_image1 h2{
    color: #fdfdfd;
    text-shadow: 2px 2px 4px #000000;
    font-size:25px;
    font-weight: 800;
}
.cont_pdes .text_image2 h2{
    color: #fdfdfd;
    text-shadow: 2px 2px 4px #000000;
    font-size:25px;
    font-weight: 800;
}
.cont_pdes .text_image1 span{
    color: #fdfdfd;
}
.cont_pdes .text_image2 span{
    color: #fdfdfd;
}

/* end of popular destination */
.container-col{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;

}
.container-col .card{
    flex: 1;
    margin: 0 10px ;
}
.container-col .card .img{
    height: 200px;
    width: 100%;
    position: relative;
}
.container-col .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-col .card p{
    padding: 10px;
}
.container-col .card h3{
    padding: 10px;
    font-weight: 700;
}
/* Footer */
.footer{
    padding: 0;
    height: 300px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
}
.footer .footer1{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-left: 60px;
    margin-top: 20px;

}
.footer .footer1 li{
    list-style: none;
    margin-bottom: 15px;
}
.footer .footer1 .icons{
    display: flex;
    flex-direction: row;

}
.footer .footer1 .icons li{
    margin-right: 20px;
    font-size: 20px;
}
/* footer2 */
.footer .footer2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}
.footer .footer2 li{
    list-style: none;
    margin-top: 20px;
}
/* footer3 */
.footer .footer3{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}
.footer .footer3 li{
    list-style: none;
    margin-top: 20px;
}
/* footer4 */
.footer .footer4{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-right: 60px;

}
.footer .footer4 li{
    list-style: none;
    margin-top: 20px;
}
.for_ph{
    display: none;
}
@media (max-device-width:1300px) {
    body{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
    }
    .for_ph{
        display: block;
        justify-content: center;
        margin: 0 auto;
        padding: 30px;
    }
    .for_ph h1{
        font-style: oblique;
        font-weight: 1000;
    }
    .for_ph p{
        font-size: 30px;
    }
    .container{
        display: none;

    }

    
}